@import "tailwindcss";

@theme {
  --animate-pulse-slow: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-spin-slow: spin 3s linear infinite;
  --animate-swing: swing 2s ease-in-out infinite;

  @keyframes swing {
    0%, 100% { transform: rotate(15deg); }
    50% { transform: rotate(-15deg); }
  }
}
